/* ---------- Header -------- */
header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15px;
}

.header-div {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.11);
    background-color: rgb(77, 95, 107);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---------- Body -------- */
body {
    font-family: "Roboto";
}


/* ---------- Navbar ---------- */
.navbar-ul {
    display: flex;
    padding: 0%;
}

.li-main-nav {
    list-style-type: None;
    margin: 20px;
}

a {
    color: #ffffff;
    text-decoration: None;
    transition: color 0.3s;
}

a:hover {
    color: rgb(128, 128, 128);
}

/* ---------- Section - Articles -------- */
section {
    display: flex;
    flex-direction: column;
}

.profile-pic {
    border: 1px solid rgba(0, 0, 0, 0.705);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.212);
    width: 300px;
    align-self: center;
}

.article-class {
    margin: 40px 40px 0px 40px;
    border: 2px solid gray;
    border-radius: 1%;
    padding: 5px;
    display: flex;
}

.div-class {
    margin: 20px;
    font-size: larger;
}

/* ---------- Main -------- */
main {
    display: flex;
}

/* ---------- Aside -------- */
aside {
    color: #ffffff;
    background-color: rgba(196, 114, 38, 0.726);
    margin-top: 40px;
    border-radius: 1%;
    padding: 10px;
}

.ul-aside {
    padding: 0%;
}

.li-aside {
    list-style: none;
    margin: 20px 0;
}

/* --------------------------- */
.button-questionary {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.button {
    border: 0px solid white;
    color: white;
    border-radius: 15px;
    background-color: rgb(51, 50, 155);
    height: 50px;
    width: 250px;
    font-size: 20px;
}

/* ---------- Footer -------- */
footer {
    margin-top: 40px;
    background-color: rgba(235, 235, 226, 0.952);
    padding: 20px;
    font-size: larger;
    font-style: italic;
    text-align: center;
}

.social-media {
    justify-content: center;
    display: flex;
}

.facebook-icon,
.twitter-icon,
.instagram-icon,
.whatsapp-icon {
    width: 50px;
    margin: 10px;
}

* {
    margin: 0px;
}

/* ---------- Reglas para los botoncitos -------- */
.btn {
    background: #34d3d9;
    background-image: -webkit-linear-gradient(top, #34d3d9, #000000);
    background-image: -moz-linear-gradient(top, #34d3d9, #000000);
    background-image: -ms-linear-gradient(top, #34d3d9, #000000);
    background-image: -o-linear-gradient(top, #34d3d9, #000000);
    background-image: linear-gradient(to bottom, #34d3d9, #000000);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.button-questionary {
    margin-top: 20px;
}

.input-password {
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: rgba(14, 110, 145, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 0;
    overflow: visible;
    display: inline-block;
    float: none;
    z-index: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: static;
    opacity: 1;
    cursor: default;
}